* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.w-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.coupons__block {
    margin-bottom: 30px;
}

.coupons__title {
    margin-bottom: 25px;
}

.coupons__title h2 {
    margin: 0;
    color: #848484;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 22px;
}

.coupons__title h2 span {
    color: #592e66;
    font-size: 32px;
}

.coupons__pagination nav > .flex{
    display: none;
}

.coupons__pagination nav .hidden p.text-sm.text-gray-700.leading-5 {
    display: none;
}

.coupons__pagination nav .hidden .relative {
    display: flex;
    justify-content: center;
}

.coupons__pagination nav .hidden .relative svg {
    width: 24px;
}

.coupons__pagination nav .hidden .relative a.relative {
    padding: 5px 13px !important;
}

.coupons__pagination nav .hidden .relative span.relative {
    padding: 5px 13px !important;
}

.coupons__pagination nav .hidden .relative a {
    color: #592e66;
}

.coupons__pagination nav .hidden [aria-current="page"] span {
    background-color: #592e66 !important;
    color: #fff !important;
}

.coupons-modal__bg {
    position: relative;
    overflow: hidden;
}

.coupons-modal__content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coupons-modal__form {
    display: flex;
    background: #FFF;
    align-items: center;
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    padding-right: 20px;
}

.coupons-modal__form .img-form {
    width: 140px;
}

.coupons-modal__form .info {
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 1.1;
    color: #666666;
    margin-top: 15px;
}

.coupons-modal__form form {
    position: relative;
}

.coupons-modal__form input {
    display: flex;
    height: 45px;
    border: 0;
    background: #dddddd;
    width: 450px;
    border-radius: 100px;
    font-size: 20px;
    padding: 0 50px 0 15px;
}

.coupons-modal__form button {
    background: #FFF;
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.coupons-modal__form button svg {
    width: 28px;
    height: 28px;
    fill: #592e66;
}








@media (max-width: 767px) {
    .w-20 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .coupons__pagination nav .hidden {
        display: none;
    }

    .coupons__pagination nav>.flex {
        display: flex;
        justify-content: space-between;
    }

    .coupons-modal__form {
        flex-direction: column;
        padding: 10px 15px;
    }

    .coupons-modal__form .img-form {
        display: none;
    }

    .coupons-modal__form input {
        width: 100%;
    }

    .coupons-modal__form .info {
        font-size: 13px;
        padding: 0 15px;
    }
}
