* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.w-20 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

.coupons__block {
    margin-bottom: 30px;
}

.coupons__title {
    margin-bottom: 25px;
}

.coupons__title h2 {
    margin: 0;
    color: #848484;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 22px;
}

.coupons__title h2 span {
    color: #592e66;
    font-size: 32px;
}

.coupons__pagination nav > .flex{
    display: none;
}

.coupons__pagination nav .hidden p.text-sm.text-gray-700.leading-5 {
    display: none;
}

.coupons__pagination nav .hidden .relative {
    display: flex;
    justify-content: center;
}

.coupons__pagination nav .hidden .relative svg {
    width: 24px;
}

.coupons__pagination nav .hidden .relative a.relative {
    padding: 5px 13px !important;
}

.coupons__pagination nav .hidden .relative span.relative {
    padding: 5px 13px !important;
}

.coupons__pagination nav .hidden .relative a {
    color: #592e66;
}

.coupons__pagination nav .hidden [aria-current="page"] span {
    background-color: #592e66 !important;
    color: #fff !important;
}


@media (max-width: 767px) {
    .w-20 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .coupons__pagination nav .hidden {
        display: none;
    }

    .coupons__pagination nav>.flex {
        display: flex;
        justify-content: space-between;
    }
}
